body {
  margin: 0;
  padding: 0;
  background: #a06ced;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#buttons {
  display: flex;
  gap: 25px;
}

.btn, .stop {
  background: #5c2e9d;
  color: white;
  border: none;
  padding: 20px 35px;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
}

.btn:hover, .stop:hover {
  transform: scale(1.05);
}
